<html>
  <head>
    <title>api</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body ng-app="myApp">
    <header class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Simple Online Store</a></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/profile">Hello</a>
              <span id=""></span>
            </li>
            <li><a href="/register">Register   </a></li>
            <li><a href="/login">Login   </a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="alert alert-dismissible alert-danger">
        <button type="button" data-dismiss="alert" class="close close">x</button>
        <div class="text-center"></div>
      </div>
    </div>
    <%- include script.ejs %>
  </body>
</html>
