<%- include header.ejs %>
<%- include navbar.ejs %>

	<% if (errorMessage) { %>
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" data-dismiss="alert" class="close close">x</button>
	  <div class="text-center"><%= errorMessage %></div>
	</div>
	<% } %>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">ArchiDesign Admin Console</h1>
		</div>
	</div>



<%- include footer.ejs %>
